 
ul {color:rgb(104, 173, 194)
    text-aling: center; 
    font-size: 25px;}
    

h1 {color:rgb(98, 134, 235);
    text-aling: center;
    font-size: 100px;} 

p{color:rgb(99, 161, 185);
    text-aling: center; 
     font-size: 20px;}

li{color:rgb(129, 167, 238);
    text-aling: center; 
    font-size: 20px;}

body{background-image: url(manoelc.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;}